{%extends 'home.html'%}
{% load staticfiles %}


{%block contenido%}
<table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="col-general">
    
                <td scope="col"><strong>ID</strong></td>
                <td scope="col"><strong>NOMBRE</strong></td>
                <td scope="col"><strong>UNIDADES</strong></td>
            </tr>
    
        </thead>
        <tbody>
            {% if productos %}
            {% for producto in productos %}
            <tr id="row-listar-producto">
    
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.unidades }}</td>
                <td>
                    <form method="POST" action="#">
                        {% csrf_token %}
                        <div class="btn-group">
                            <a href="#" title="Ver" type="button"
                                class="btn btn-outline-primary">Ver </a>
                            <a href="{%url 'producto:editar_producto' producto.id%}" title="Editar" type="button"
                                class="btn btn-secundary">Editar </a>
                            <button class="btn btn-danger" onclick="return eliminar();" type="submit">Eliminar</button>
                        </div>
                    </form>
                </td>
                <td>
                    
                </td>
            </tr>
            
            {% endfor %}
            {% else %}
            <h2>No existen productos registrados</h2>
            {% endif %}
        </tbody>
    </table>
{%endblock%}