{%extends 'home.html'%}
{% load staticfiles %}

{%block contenido%}
<form method="POST">
    {% csrf_token %}
    {% if error %}
        <h2>{{ error }}</h2>
    {% else %}
    <div class="card">
        <div class="card-header">
            <h2><strong>GENERAR VENTA</strong></h2>
        </div>
        <div class="card-body card-block">
            <form action="{% url 'ventas:crear_ventas' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">

                <div class="row form-group">
                    <div class="col col-md-3">{{ form.fecha.label }}</div>
                    <div class="col-12 col-md-9">{{ form.fecha }}</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ form.comentarios.label }}</div>
                    <div class="col-12 col-md-9">{{ form.comnentarios }}</div>
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-primary">GENERAR</button>
                    
                    <button type="reset"  class="btn btn-outline-secundary">CANCELAR</button>
                </div>
            </form>
        </div>

    </div>
    {%endif%}
    
</form>
{%endblock%}

